{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
    <h1>Get your quote</h1>
    <table>
        <tr>
            <th>How much CAD do you want to deposit?</th>
            <th>Rate</th>
            <th>Total amount you will receive in INR</th>
            <th>Action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">Accept</a>
                <br>
                <a href="">Decline</a>
            </td>
        </tr>
    </table>
</div>

{% endblock %}